<link rel="stylesheet" href="/css/Tienda.css">

<form action="/gimnasio" method="post"></form>
<div id="contenido">
    <div class="container p-4">
        <div class="row">
            {{#each lista}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h3>{{nombre}}</h3>
                        <p>{{inscripcion}}</p>
                        <p>{{horario}}</p>
                        <p>{{contacto}}</p>
                        <p>{{direccion}}</p>
                        <p>{{imagenInstalacion}}</p>
                        <p>{{estado}}</p>
                        <button id="boton"><a href="/producto/lista" id="letra">Productos</a></button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>