<LINK REL=StyleSheet HREF="/css/gimnasio/listar.css" TYPE="text/css" MEDIA=screen>

{{!-- Se retomara en la proxima interacción
<div id="botones">
    <button type="button" id="abajo" onclick="imagen.arriba()"><img src="/img/flecha.png"></button>
    <button type="button" id="arriba" onclick="imagen.abajo()"><img src="/img/flecha1.png"></button>
</div>
<div id="imagenAdd">
    <form action="/gimnasio/listar" enctype="multipart/form-data" method="POST">
        <input type="file" name="nombre" id="imagenGimnasio">
        <button type="submit"="agregaImangen">Agregar imagén</button>
    </form>
</div>
<div id="listarImagenes">
    {{#each listaImagen}}
    <img src="/img/{{nombre}}">
    {{/each}}
</div>--}}
<form action="/gimnasio/listar/{{user.idUsuario}}" method="get"></form>
<div id="img">
    <img src="/img/listar.jpeg">
</div>
<div id="gris">
    <label id="lista">Lista del Gimnasios</label>
</div>
<div id="contenido">
    <div class="row">
    {{#each lista}}
    <div id="formulario">
        <div id="nombres">
            <label id="nombre">Nombre del Gimnasio</label>
            <p id="name">{{nombre}}</p>
        </div>
        <div id="incripciones">
            <label id="inscripcion">Inscripción</label>
            <p id="uno">{{inscripcion}}</p>
        </div>
        <div id="mensualidades">
            <label id="mensualidad">Mensualidad</label>
            <p id="dos">{{mensualidad}}</p>
        </div>
        <div id="horarios">
            <label id="horario">Horario</label>
            <p id="tres">{{horario}}</p>
        </div>
        <div id="baja">
            <label id="bajas">Bajas</label>
            <p id="cuatro">{{bajas}}</p>
        </div>
        <div id="higienes">
            <label id="higiene">Higiene</label>
            <p id="cinco">{{higiene}}</p>
        </div>
        <div id="seguridades">
            <label id="seguridad">Seguridad</label>
            <p id="seis">{{seguridad}}</p>
        </div>
        <div id="contactos">
            <label id="contacto">Contactos</label>
            <p id="cont">{{contacto}}</p>
        </div>
        <div id="direcciones">
            <label id="direccion">Dirección</label>
            <p id="punto">{{direccion}}</p>
        </div>
        <div id="estados">
            <label id="estado">Estado</label>
            <p id="estad">{{estado}}</p>
        </div>
        <a href="/gimnasio/editar/{{idGimnasio}}" id="edita"><img src="/img/editar.png" id="imagen"></a>
        <div id="agregaCliente">
            <button type="submit" id="gimnasio">
                <a href="/cliente/agregar/{{idGimnasio}}">Agregar Clientes</a>
            </button>
        </div>
    </div>    
    {{/each}}
    </div>
</div>
<script src="/js/listaGimnasio.js"></script>