<LINK REL=StyleSheet HREF="" TYPE="text/css" MEDIA=screen>

{{!-- Se retomara en la proxima interacción
<div id="botones">
    <button type="button" id="abajo" onclick="imagen.arriba()"><img src="/img/flecha.png" ></button>
    <button type="button" id="arriba" onclick="imagen.abajo()"><img src="/img/flecha1.png" ></button>
</div>

<div id="imagenAdd">
    <form action="/gimnasio/listar" enctype="multipart/form-data" method="POST">
        <input type="file" name="nombre" id="imagenGimnasio">
        <button type="submit" ="agregaImangen">Agregar imagén</button>
    </form>
</div>
<div id="listarImagenes">
    {{#each listaImagen}}
        <img src="/img/{{nombre}}">
    {{/each}}
</div>--}}

<div id="contenedor"> 
    {{#each lista}} 
    <div>
        <label id="nombre">Nombre del Gimnasio</label>
        <p>{{nombre}}</p>
    </div>
    <div>
        <label id="inscripcion">Inscripción</label>
        <p>{{inscripcion}}</p>
    </div>
    <div>
        <label id="mensualidad">Mensualidad</label>
        <p>{{mensualidad}}</p>
    </div>
    <div>
        <label id="horario">Horario</label>
        <p>{{horario}}</p>
    </div>
    <div>
        <label id="bajas">Bajas</label>
        <p>{{bajas}}</p>
    </div>
    <div>
        <label id="higiene">Higiene</label>
        <p>{{higiene}}</p>
    </div>
    <div>
        <label id="seguridad">Seguridad</label>
        <p>{{seguridad}}</p>
    </div>
    <div>
        <label id="contacto">Contactos</label>
        <p>{{contacto}}</p>
    </div>
    <div>
        <label id="direccion">Dirección</label>
        <p>{{direccion}}</p>
    </div>
    <div>
        <label id="estado">Estado</label>
        <p>{{estado}}</p>
    </div>
    <a href="/gimnasio/editar/{{id}}" id="edita">Editar</a>
    {{/each}}
</div>
<script src="/js/listaGimnasio.js"></script>