<LINK REL=StyleSheet HREF="/css/salud/listar.css" TYPE="text/css" MEDIA=screen>

<form action="/salud/listar"></form>
<div id="contenedor">
    {{#each lista}} 
    <div>
        <label id="ocia">Lesiones ocias</label>
        <p>{{lesion_ocia}}</p>
    </div>
    <div>
        <label id="muscular">Lesiones musculares:</label>
        <p>{{lesion_muscular}}</p>
    </div>
    <div>
        <label id="enfermedad">Enfermedades:</label>
        <p>{{enfermedad}}</p>
    </div>
    <div>
        <label id="vicio">Vicios:</label>
        <p>{{vicio}}</p>
    </div>
    <div>
        <label id="embarazo">Embarazos:</label>
        <p>{{embarazo}}</p>
    </div>
    <div>
        <label id="dificultad">Dificultades:</label>
        <p>{{dificultades}}</p>
    </div>
    <div>
        <label id="actividad">Actividades deportivas:</label>
        <p>{{actividad_deportiva}}</p>
    </div>
    <div>
        <label id="entidad">¿Asistia a un gimnasio u entidad deportiva?:</label>
        <p>{{entidad}}</p>
    </div>
    <a href="/salud/editar/{{id}}" id="edita">Editar</a>
    {{/each}}
</div>