<LINK REL=StyleSheet HREF="/css/salud/lista.css" TYPE="text/css" MEDIA=screen>

<form action="/salud/listar"></form>
<div id="contenido">
    <label id="lista">Lista del Clientes</label>
        {{#each lista}}
        <div id="ocias">
            <label id="ocia">Lesiones ocias</label>
            <p id="cero">{{lesion_ocia}}</p>
        </div>
        <div id="musuclar">
            <label id="musculo">Lesiones musculares:</label>
            <p id="uno">{{lesion_muscular}}</p>
        </div>
        <div id="enfermedades">
            <label id="enfermedad">Enfermedades:</label>
            <p id="dos">{{enfermedad}}</p>
        </div>
        <div id="vicios">
            <label id="vicio">Vicios:</label>
            <p id="tres">{{vicio}}</p>
        </div>
        <div id="embarazos">
            <label id="embarazo">Embarazos:</label>
            <p id="cuatro">{{embarazo}}</p>
        </div>
        <div id="dificultades">
            <label id="dificultad">Dificultades:</label>
            <p id="cinco">{{dificultades}}</p>
        </div>
        <div id="actividades">
            <label id="actividad">Actividades deportivas:</label>
            <p id="seis">{{actividad_deportiva}}</p>
        </div>
        <div id="entidades">
            <label id="entidad">¿Asistia a un gimnasio u entidad deportiva?:</label>
            <p id="siete">{{entidad}}</p>
        </div>
        <a href="/salud/editar/{{id}}" id="edita"><img src="/img/editar.png" id="imagen"></a>
        {{/each}}
</div>