<LINK REL=StyleSheet HREF="/css/salud/lista.css" TYPE="text/css" MEDIA=screen>

<div class="text-center">
    <h1 class="responsive1" style="color:black; top:15%">Lista de salud del cliente</h3>
</div>

<form action="/salud/listar">
    <div class="container">
        <table style="width:100%">
            <thead>
                <tr>
                    <th>Lesiones ocias</th>
                    <th>Lesiones musculares</th>
                    <th>Enfermedades</th>
                    <th>Vicios</th>
                    <th>Embarazo</th>
                    <th>Dificultades</th>
                    <th>Actividades deportivas</th>
                    <th>Entidad deportiva</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {{#each lista}}
                <tr>
                    <td>{{lesion_ocia}}</td>
                    <td>{{lesion_muscular}}</td>
                    <td>{{enfermedad}}</td>
                    <td>{{vicio}}</td>
                    <td>{{embarazo}}</td>
                    <td>{{dificultades}}</td>
                    <td>{{actividad_deportiva}}</td>
                    <td>{{entidad}}</td>
                    <td>
                        <a href="/salud/editar/{{id}}" class="edita">Editar</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
</form>