<LINK REL=StyleSheet HREF="/css/instructor/editar.css" TYPE="text/css" MEDIA=screen>
<div id="gris">
    <label id="datos">Datos del instructor</label>
</div>
<div id="contenido">
    {{#each trae}}
    <form action="/instructor/editar/{{idEntrenador}}" method="post">
        <div id="nombres">
            <label id="uno">Nombres:</label>
            <input type="text" name="nombres" id="nombre" checked value="{{nombres}}">
        </div>
        <div id="apellidos">
            <label id="dos">Apellidos:</label>
            <input type="text" name="apellidos" id="apellido" checked value="{{apellidos}}">
        </div>
        <div id="cedulas">
            <label id="tres">Cédula:</label>
            <input type="number" name="cedula" id="cedula" checked value="{{cedula}}">
        </div>
        <div id="edades">
            <label id="cuatro">Edad:</label>
            <input type="number" name="edad" id="edad" checked value="{{edad}}">
        </div>
        <div id="telefonos">
            <label id="cinco">Teléfono</label>
            <input type="number" name="telefono" id="telefono" checked value="{{telefono}}">
        </div>
        <div id="titulos">
            <label id="seis">Título:</label>
            <select name="titulo" id="titulo" checked>
                <option value="{{titulo}}">{{titulo}}</option>
                {{#each lista}}
                    <option value="{{this.nombre}}">{{this.nombre}}</option>
                {{/each}}
            </select>
        </div>
        <div id="años">
            <label id="siete">Años de experiencia:</label>
            <input type="number" name="añosExperiencia" id="año" checked value="{{añosExperiencia}}">
        </div>
        <div id="descripciones">
            <label id="ocho">Descripción:</label>
            <textarea name="descripcion" id="descripcion" cols="30" rows="10" rows="10" spellcheck="true" maxlength="600">{{descripcion}}</textarea>
        </div>
          <div id="Boton1">
            <button type="submit" id="edita"><img src="/img/editar.png" id="imagen1"></button>
        </div>
    </form>
    {{/each}}
</div>