<LINK REL=StyleSheet HREF="/css/instructor/listar.css" TYPE="text/css" MEDIA=screen>

<div class="text-center">
    <h1 class="responsive1" style="color:black; top:15%">Listas de Instructores</h3>
</div>

<form action="/instructor/listar">
    <div class="container">
        <table style="width:100%">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Cedula</th>
                    <th>Edad</th>
                    <th>Teléfono</th>
                    <th>Título</th>
                    <th>Años</th>
                    <th>Descripción</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {{#each lista}}
                <tr>
                    <td>{{nombres}}</td>
                    <td>{{apellidos}}</td>
                    <td>{{cedula}}</td>
                    <td>{{edad}}</td>
                    <td>{{telefono}}</td>
                    <td>{{titulo}}</td>
                    <td>{{añosExperiencia}}</td>
                    <td>{{descripcion}}</td>
                    <td>
                        <a href="/instructor/editar/{{id}}" class="edita">Editar</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</form>
