<LINK REL=StyleSheet HREF="/css/instructor/listar.css" TYPE="text/css" MEDIA=screen>
 
<form action="/instructor/listar"></form>
<div id="contenedor">
    {{#each lista}}
    <div>
        <label id="nombre">Nombres</label>
        <p>{{nombres}}</p>
    </div>
    <div>
        <label id="apellido">Apellidos</label>
        <p>{{apellidos}}</p>
    </div>
    <div>
        <label id="cedula">Cedula</label>
        <p>{{cedula}}</p>
    </div>
    <div> 
        <label id="edad">Edad</label>
        <p>{{edad}}</p>
    </div>
    <div>
        <label id="telefono">Teléfono</label>
        <p>{{telefono}}</p>
    </div>
    <div>
        <label id="titulo">Título</label>
        <p>{{titulo}}</p>
    </div>
    <div>
        <label id="año">Años de experiencia</label>
        <p>{{añosExperiencia}}</p>
    </div>
    <div>
        <label id="descripcion">Descripción</label>
        <p>{{descripcion}}</p>
    </div>
    <a href="/instructor/editar/{{id}}" id="edita">Editar</a>
    {{/each}}
</div>