<link rel="stylesheet" href=".css">

<div id="contenido">
    <form action="/gimnasio/detalleLista/{{user.idInfo_Cliente}}">
        {{#if user}}
        <div id="contenedor">
            <p>{{nombre}}</p>
        </div>
        <div id="contenedor1">
            <label id="inscripcion">Inscripci贸n</label>
            <p>{{inscripcion}}</p>
        </div>
        <div id="contenedor2">
            <label id="mensualidad">Mensualidad</label>
            <p>{{mensualidad}}</p>
        </div>
        <div id="contenedor3">
            <label id="horario">Horario</label>
            <p>{{horario}}</p>
        </div>
        <div id="contenedor4">
            <label id="bajas">Motivo de la inactividad</label>
            <p>{{bajas}}</p>
        </div>
        <div id="contenedor5">
            <label id="higiene">Higiene</label>
            <p>{{higiene}}</p>
        </div>
        <div id="contenedor6">
            <label id="seguridad">Seguridad</label>
            <p>{{seguridad}}</p>
        </div>
        <div id="contenedor7">
            <label id="contacto">Contacto</label>
            <p>{{contato}}</p>
        </div>
        <div id="contenedor8">
            <label id="direccion">Direcci贸n</label>
            <p>{{direccion}}</p>
        </div>
        <div id="contenedor9">
            <label id="estado">Estado</label>
            <p>{{estado}}</p>
        </div>
        <a href="/registro" id="registro">Registrate</a>
        {{else}}
        <div id="contenedor">
            <p>{{nombre}}</p>
        </div>
        <div id="contenedor1">
            <label id="inscripcion">Inscripci贸n</label>
            <p>{{inscripcion}}</p>
        </div>
        <div id="contenedor2">
            <label id="mensualidad">Mensualidad</label>
            <p>{{mensualidad}}</p>
        </div>
        <div id="contenedor3">
            <label id="horario">Horario</label>
            <p>{{horario}}</p>
        </div>
        <div id="contenedor4">
            <label id="bajas">Motivo de la inactividad</label>
            <p>{{bajas}}</p>
        </div>
        <div id="contenedor5">
            <label id="higiene">Higiene</label>
            <p>{{higiene}}</p>
        </div>
        <div id="contenedor6">
            <label id="seguridad">Seguridad</label>
            <p>{{seguridad}}</p>
        </div>
        <div id="contenedor7">
            <label id="contacto">Contacto</label>
            <p>{{contato}}</p>
        </div>
        <div id="contenedor8">
            <label id="direccion">Direcci贸n</label>
            <p>{{direccion}}</p>
        </div>
        <div id="contenedor9">
            <label id="estado">Estado</label>
            <p>{{estado}}</p>
        </div>
        <a href="/login" id="registro">Registrate</a>
        {{/if}}
    </form>
</div>