<LINK REL=StyleSheet HREF="/css/menu/lista.css" TYPE="text/css" MEDIA=screen>

<div class="text-center">
    <h1 class="responsive1" style="color:black; top:15%">Listas de Menús</h3>
</div>

<form action="/menu/listar">
    <div class="container">
        <table style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Días</th>
                    <th>Semanas</th>
                    <th>Categoria</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {{#each lista}}
                <tr>
                    <td>{{nombre}}</td>
                    <td>{{descripcion}}</td>
                    <td>{{dias}}</td>
                    <td>{{semanas}}</td>
                    <td>{{categoria}}</td>
                    <td>
                        <a href="/menu/editar/{{id}}" class="edita">Editar</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</form>