<link rel="stylesheet" href="/css/nav.css">

<nav>
    {{#if user}}
    <a href="/inicio"><img src="/img/logo.png" id="logo"></a>
    <div id="nav1">
        <a href="/menu/listar/{{user.idUsuario}}">Menu</a>
    </div>
    <div id="nav2">
        <a id="nav" href="/salud/listar/{{user.idUsuario}}">Salud</a>
    </div>
    <div id="nav3">
        <a href="/cliente/listar/{{user.idUsuario}}">Cliente</a>
    </div>
    <div id="nav4">
        <a href="/instructor/listar/{{user.idUsuario}}">Instructor</a>
    </div>
    <div id="nav5">
        <a href="/horario/listar/{{user.idUsuario}}">Horario</a>
    </div>
    <div id="nav6">
        <a href="/gimnasio/listar/{{user.idUsuario}}">Gimnasio</a>
    </div>
    <div id="nav7">
        <a href="/Finalizar">Cerrar Sesión</a>
    </div>
    {{else}}
    <a href="/"><img src="/img/logo.png" id="logo"></a>
    <div id="nav9">
        <a href="/validacion">Iniciar Sesión</a>
    </div>
    <div id="nav10">
        <a href="/registro">Registro</a>
    </div>
    {{/if}}
</nav>
