<LINK REL=StyleSheet HREF="/css/gimnasio/listar.css" TYPE="text/css" MEDIA=screen>

<form action="/gimnasio/listar"></form>
<div id="contenedor">
    {{#each lista}} 
    <div>
        <label id="inscripcion">Inscripción</label>
        <p>{{inscripcion}}</p>
    </div>
    <div>
        <label id="mensualidad">Mensualidad</label>
        <p>{{mensualidad}}</p>
    </div>
    <div>
        <label id="horario">Horario</label>
        <p>{{horario}}</p>
    </div>
    <div>
        <label id="bajas">Bajas</label>
        <p>{{bajas}}</p>
    </div>
    <div>
        <label id="higiene">Higiene</label>
        <p>{{higiene}}</p>
    </div>
    <div>
        <label id="seguridad">Seguridad</label>
        <p>{{seguridad}}</p>
    </div>
    <a href="/gimnasio/editar/{{id}}" id="edita">Editar</a>
    {{/each}}
</div>